ul, li, p {
	list-style: none;
	font-family: Arial;
}

a {
	text-decoration: none;
	color: white;
}

.container_ {
	padding: 3% 0;
	
	border-bottom: 6px solid #D60000;
}

.inner_container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;

	max-width: 1200px;
	margin: auto;
}

.logos {
  position: relative;
  width: 160px;
  height: 25px;
}

#logo, #logo2 {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#logo2 {
  opacity: 0;
  transform: scale(0.95);
}

a:hover #logo {
  opacity: 0;
  transform: scale(1.05);
}

a:hover #logo2 {
  opacity: 1;
  transform: scale(1);
}

.social_media {
	margin-left: 25px;
	max-width: 150px;
	display: flex;
	align-items: center;
	justify-content: right;
	font-size: 25px;
}

.social_media_icon {
	width: 26px;
	transition: translateY 1s;
	color: #222;
	margin-left: 25px;
    transform: scale(1);
    transition: ease all 0.2s;
}

.social_media_icon:hover {
    transform: scale(1.03);
    transition: ease all 0.2s;
	color: #D60000;
}

.social_media_icon:hover img {
    transform: scale(1.03);
    transition: ease all 0.2s;
    filter: invert(11%) sepia(99%) saturate(5177%) hue-rotate(4deg) brightness(87%) contrast(117%);
}

/*Menu*/
#menu_header {
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu_header li a {
	font-size: 14px;

	display: block;
	text-align: center;

	padding-left: 25px;
	
	color: #333333;
}

#menu_header ul li {
	position: relative;
	display: none;
}

#menu_header li:hover li {
	display: block;
}

#menu_header a:hover {
	color: #D60000;
	text-decoration: none;
}

#menu_header ul {
	position: absolute;
	transform: translateX(-40px);
}

#menu_header ul li {
	border-bottom: solid 1px #ccc;
}

#menu_header ul li a {
	background-color: white;
	text-align: center;
	padding: 7px;
	box-shadow: 2px 0px 1px rgba(50, 50, 50, 0.77);
}
